/* === Aktiviteter Farger === */

.arbeid {
  background-color: #99c3ff;
}

.syk {
  background-color: #ffd399;
}

.fravaer {
  background-color: #a8dcb1;
}

.utdanning {
  background-color: #d2a8dc;
}
