/* === Aktiviteter Farger === */

.arbeid {
  background-color: var(--ax-bg-accent-moderate-pressed);
}

.syk {
  background-color: var(--ax-bg-warning-moderate-hover);
}

.fravaer {
  background-color: var(--ax-bg-success-moderate-pressed);
}

.utdanning {
  background-color: var(--ax-bg-meta-purple-moderate-pressed);
}
