.fyllUtContainer {
  padding: var(--ax-space-16) var(--ax-space-8);
}

.skjema {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  background-color: var(--ax-bg-default);
  padding: var(--ax-space-16);
  gap: var(--ax-space-24);
}

.skjema-variant-c {
  max-width: 800px;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-24);
}

.detaljer {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-24);
}

.begrunnelse {
  flex: 1;
  max-width: 40%;
}

.handlinger {
  display: flex;
  gap: var(--ax-space-16);
  justify-content: flex-end;
}
