.fyllUtContainer {
  padding: var(--a-spacing-4) var(--a-spacing-2);
}

.skjema {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  background-color: white;
  padding: var(--a-space-16);
  gap: var(--a-space-24);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--a-space-24);
}

.detaljer {
  display: flex;
  flex-direction: row;
  gap: var(--a-space-24);
}

.begrunnelse {
  flex: 1;
  max-width: 40%;
}

.handlinger {
  display: flex;
  gap: var(--a-space-16);
  justify-content: flex-end;
}
