/* Variant C */

.korrigering-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--a-spacing-2);
  padding: var(--a-spacing-4);
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: var(--a-spacing-8);
}

.max-width-900 {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.hvit-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: var(--a-space-16);
  gap: var(--a-space-24);
}

.meldekort {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--a-space-12);
  align-self: stretch;
}

.meldekort-seksjon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--a-space-12);
  align-self: stretch;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.kalender-og-begrunnelse-wrapper {
  width: 100%;
  border-radius: 0.625rem;
  border: 2px solid var(--a-surface-action-subtle);
  padding: var(--a-space-16);
}

.kalender-container {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

.begrunnelse-seksjon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: var(--a-space-16);
}

.skjema {
  display: flex;
  flex-direction: column;
  gap: var(--a-space-24);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.annen-info {
  display: flex;
  flex-direction: row;
  gap: var(--a-space-24);
  max-width: 60%;
}

.knapper {
  display: flex;
  gap: var(--a-space-16);
  justify-content: flex-end;
}

.begrunnelse {
  flex: 2;
}
