.korrigering-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--a-spacing-2);
  padding: var(--a-spacing-4);
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: var(--a-spacing-8);
}

.hvit-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: var(--a-space-16);
  gap: var(--a-space-24);
}

.meldekort {
  display: flex;
  flex-direction: column;
  gap: var(--a-space-20);
  width: 50%;
}

.meldekortSeksjon {
  display: flex;
  flex-direction: column;
  gap: var(--a-space-8);
}

.skjema {
  display: flex;
  flex-direction: column;
  gap: var(--a-space-24);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.annenInfo {
  display: flex;
  flex-direction: row;
  gap: var(--a-space-24);
  max-width: 60%;
}

.knapper {
  display: flex;
  gap: var(--a-space-16);
  justify-content: flex-end;
}

.begrunnelse {
  flex: 2;
}
