.korrigering-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--ax-space-8);
  padding: var(--ax-space-16);
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: var(--ax-space-32);
}

.hvit-container {
  display: flex;
  flex-direction: column;
  background-color: var(--ax-bg-default);
  padding: var(--ax-space-16);
  gap: var(--ax-space-24) !important;
}

.meldekort {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ax-space-12);
  align-self: stretch;
}

.meldekort-seksjon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ax-space-16);
  align-self: stretch;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.kalender-og-begrunnelse-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  border: 2px solid var(--ax-border-accent-subtleA);
  padding: var(--ax-space-20);
  gap: var(--ax-space-12);
}

.kalender-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

.begrunnelse-seksjon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skjema {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-24);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.annen-info {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-24);
  max-width: 60%;
}

.knapper {
  display: flex;
  gap: var(--ax-space-16);
  justify-content: flex-end;
}

.begrunnelse {
  flex: 2;
}
