.rapporteringsperiode {
  display: flex;
  flex-direction: column;
  row-gap: var(--ax-space-16);
  padding: var(--ax-space-24);
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--ax-space-16);
  background-color: var(--ax-bg-default);
}

@media (min-width: 768px) {
  .grid {
    flex-direction: row;
    align-items: flex-start;
  }
}

.periodeOverskrift {
  background-color: var(--ax-bg-default);
  padding: var(--ax-space-24);
}

.uendretPeriode {
  flex: 1;
  width: 50%;
}

.korrigering {
  background-color: var(--ax-bg-default);
  display: flex;
  flex-direction: column;
  row-gap: var(--ax-space-32);
}

.uendretPeriode,
.korrigering {
  padding: var(--ax-space-24);
}

.begrunnelse-visning {
  border: 1px solid var(--ax-border-accent-subtleA);
  padding: var(--ax-space-16);
  border-radius: var(--ax-radius-4);
}

.begrunnelse-visning h4 {
  padding-bottom: var(--ax-space-8);
}

.fyllroot {
  gap: 15px;
  flex-direction: column;
  margin: 15px;
  margin-top: 0px;
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.skjema {
  width: 100%;
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 46px;
  background: var(--ax-bg-default);
  form {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 1rem;
  @media (min-width: 1024px) {
    flex-direction: row;
    width: 80%;
    max-width: 1000px;
  }
}

.begrunnelse {
  flex: 1;
}

.handlinger {
  display: flex;
  gap: 22px;
  justify-content: space-between;
  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}

.inputRad {
  display: flex;
  width: 45%;
  gap: var(--ax-space-32);
  padding-left: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-32);
}
