.perioder-container {
  background-color: var(--ax-bg-default);
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .perioder-container {
    padding: 0 var(--ax-space-24) var(--ax-space-40);
  }
}

.accordion-content {
  padding: 0;
}
