.perioder-container {
  background-color: var(--a-surface-default);
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .perioder-container {
    padding: 0 var(--a-spacing-6) var(--a-spacing-10);
  }
}

.accordion-content {
  padding: 0;
}
