.header-logo {
  display: flex;
  text-decoration: none;
}

.page-header span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
}

.person-informasjon {
  position: sticky;
  top: 48px;
  z-index: 99;
}

.mainContent {
  position: relative;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.contentWrapper {
  max-width: 1400px;
}

.variantSwitcherContainer {
  /* På små skjermer: Vis over innholdet */
  display: flex;
  justify-content: flex-end;
}

/* Store skjermer: Fixed posisjon */
@media (min-width: 1200px) {
  .variantSwitcherContainer {
    position: fixed;
    top: calc(100px + var(--a-spacing-6));
    right: var(--a-spacing-6);
    z-index: 10;
  }
}
