.header-logo {
  display: flex;
  text-decoration: none;
}

.page-header span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: var(--ax-space-8);
}

.personInformasjon {
  position: sticky;
  top: 48px;
  z-index: 99;
}

.mainContent {
  position: relative;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.contentWrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.variantSwitcherContainer {
  /* På små skjermer: Vis over innholdet */
  display: flex;
  justify-content: flex-end;
}

/* Store skjermer: Fixed posisjon */
@media (min-width: 1200px) {
  .variantSwitcherContainer {
    position: fixed;
    top: calc(100px + var(--ax-space-24));
    right: var(--ax-space-24);
    z-index: 10;
  }
}
