.kalenderOgSammenlagt {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-24);
  flex: 1;
}

.sammenlagt {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
}

.aktivitetListe {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-4);
  list-style: none;
}

.aktivitet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 80px;
  padding: var(--ax-space-2) var(--ax-space-12);
  line-height: normal;
}

.ingenAktiviteter {
  color: var(--ax-text-neutral-subtle);
  text-align: center;
}
