.fyllUtTabell {
  border-collapse: collapse;
  width: 100%;
  max-width: 75rem;
}

.fyllUtTabell :global(.navds-body-short) {
  font-size: var(--a-font-size-small) !important;
  line-height: var(--a-line-height-small) !important;
}

.label {
  text-align: left;
  font-size: var(--a-font-size-small) !important;
  line-height: var(--a-line-height-small) !important;
}

.fyllUtTabell td {
  text-wrap: nowrap;
}

.fyllUtTabell thead,
.fyllUtTabell tr,
.fyllUtTabell th {
  font-weight: 400;
}

.aktivitet {
  text-align: left;
  padding: var(--a-space-2) var(--a-space-12);
  border-radius: 999px;
  font-size: var(--a-font-size-small) !important;
  line-height: var(--a-line-height-small) !important;
}

.aktivitetArbeid {
  background: #99c3ff;
}

.aktivitetSyk {
  background: #ffd399;
}

.aktivitetFravaer {
  background: #a8dcb1;
}

.aktivitetUtdanning {
  background: #d2a8dc;
}

.trHoverArbeid:hover {
  background-color: rgba(153, 195, 255, 0.15); /* 50% opacity */
}

.trHoverSyk:hover {
  background-color: rgba(255, 211, 153, 0.15);
}

.trHoverFravaer:hover {
  background-color: rgba(168, 220, 177, 0.15);
}

.trHoverUtdanning:hover {
  background-color: rgba(210, 168, 220, 0.15);
}

.gap {
  width: 10px;
  border: none;
  background: transparent;
  pointer-events: none;
}

.fyllUtTabell tbody {
  box-sizing: content-box;
}

.fyllUtTabell tbody tr {
  height: 40px;
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ukedag {
  text-transform: capitalize;
  display: grid;
}

.oppsummering {
  width: 70px;
  white-space: nowrap;
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-size: var(--a-font-size-small) !important;
  line-height: var(--a-line-height-small) !important;
}
