.fyllUtTabell {
  width: 100%;
  max-width: 75rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.fyllUtTabell td,
.fyllUtTabell th {
  border: none;
}

.ukeContainer {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-4);
  align-items: flex-start;
}

.ukeCaption {
  min-width: fit-content;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.legend {
  padding: 0;
}

.tabellHeader {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-4);
}

.ukeHeader {
  font-weight: var(--ax-font-weight-bold);
  font-size: var(--ax-font-size-small);
  text-align: left;
  padding-right: var(--ax-space-4);
  vertical-align: bottom;
}

.ukeLabel {
  font-weight: var(--ax-font-weight-bold);
  font-size: var(--ax-font-size-small);
  text-align: left;
  padding-right: var(--ax-space-4);
  vertical-align: middle;
}

.aktivitetHeader {
  text-align: left;
}

.sumHeader {
  text-align: left;
}

@layer overrides {
  .fyllUtTabell :global(.navds-body-short) {
    font-size: var(--ax-font-size-small) !important;
    line-height: var(--ax-font-line-height-medium) !important;
  }
}

.label {
  text-align: left;
  font-size: var(--ax-font-size-small) !important;
  line-height: var(--ax-font-line-height-medium) !important;
}

.fyllUtTabell td {
  text-wrap: nowrap;
  vertical-align: middle;
  text-align: center;
}

.fyllUtTabell thead,
.fyllUtTabell tr,
.fyllUtTabell th {
  font-weight: 400;
}

.aktivitet {
  text-align: left;
  padding: var(--ax-space-4) var(--ax-space-12);
  border-radius: 999px;
  font-size: var(--ax-font-size-small) !important;
  line-height: var(--ax-font-line-height-medium) !important;
}

.aktivitetArbeid {
  background: var(--ax-bg-accent-moderate-pressed);
}

.aktivitetSyk {
  background: var(--ax-bg-warning-moderate-hover);
}

.aktivitetFravaer {
  background: var(--ax-bg-success-moderate-pressed);
}

.aktivitetUtdanning {
  background: var(--ax-bg-meta-purple-moderate-pressed);
}

.trHoverArbeid:hover {
  background-color: var(--ax-bg-accent-soft);
}

.trHoverSyk:hover {
  background-color: var(--ax-bg-warning-soft);
}

.trHoverFravaer:hover {
  background-color: var(--ax-bg-success-soft);
}

.trHoverUtdanning:hover {
  background-color: var(--ax-bg-meta-purple-soft);
}

.gap {
  width: 12px;
  border: none;
  background: transparent;
  pointer-events: none;
}

.fyllUtTabell tbody {
  box-sizing: content-box;
}

.fyllUtTabell tbody tr {
  height: 40px;
}

.fyllUtTabell tbody tr {
  padding-top: 12px;
}

.fyllUtTabell tbody tr:first-child td {
  padding-top: 0;
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ukedag {
  text-transform: capitalize;
  display: grid;
}

.oppsummeringTall {
  width: 30px;
  white-space: nowrap;
  text-align: right !important;
  font-variant-numeric: tabular-nums;
  font-size: var(--ax-font-size-small) !important;
  line-height: var(--ax-font-line-height-medium) !important;
}

.oppsummeringEnhet {
  width: 40px;
  white-space: nowrap;
  text-align: left !important;
  font-size: var(--ax-font-size-small) !important;
  line-height: var(--ax-font-line-height-medium) !important;
}


.trHoverSyk :global(.aksel-checkbox__box[data-checked="true"]) {
  background-color: var(--ax-bg-warning-moderate-hover) !important;
  border-color: var(--ax-bg-warning-moderate-hover) !important;
}

.trHoverFravaer :global(.aksel-checkbox__box[data-checked="true"]) {
  background-color: var(--ax-bg-success-moderate-pressed) !important;
  border-color: var(--ax-bg-success-moderate-pressed) !important;
}

.trHoverUtdanning :global(.aksel-checkbox__box[data-checked="true"]) {
  background-color: var(--ax-bg-meta-purple-moderate-pressed) !important;
  border-color: var(--ax-bg-meta-purple-moderate-pressed) !important;
}
