table {
  text-align: left;
  font-size: 0.75rem !important;
  border-collapse: collapse;
}

.label {
  text-align: left;
  font-weight: 600;
}

td {
  text-wrap: nowrap;
}

thead, tr, th {
  font-weight: 400;
}


.aktivitet {
  margin: 0 auto;
  text-align: left;
  padding:  var(--a-spacing-1) var(--a-spacing-2);
  border-radius: 40px;
  @media (min-width: 1440px) {
    white-space: nowrap;
  }
}

.aktivitetArbeid {
    background: #99C3FF;
}

.aktivitetSyk {
    background: #FFD399;
}

.aktivitetFravaer {
    background: #A8DCB1;
}

.aktivitetUtdanning {
    background: #D2A8DC;
}


.trHoverArbeid:hover {
  background-color: rgba(153, 195, 255, 0.15); /* 50% opacity */
}

.trHoverSyk:hover {
  background-color: rgba(255, 211, 153, 0.15);
}

.trHoverFravaer:hover {
  background-color: rgba(168, 220, 177, 0.15);
}

.trHoverUtdanning:hover {
  background-color: rgba(210, 168, 220, 0.15);
}

.gap {
  width: 15px;
  border: none;
  background: transparent;
  pointer-events: none; /* Forhindrer at gap-cellen er interaktiv */
}


table td {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

table th {
  text-align: center;
  vertical-align: middle;
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ukedag {
  text-transform: capitalize;
}

.oppsummering {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}