.variantSwitcher {
  padding: var(--a-spacing-4);
  background-color: var(--a-surface-default);
  border: 1px solid var(--a-border-default);
  border-radius: var(--a-border-radius-medium);
  box-shadow: var(--a-shadow-medium);
  min-width: 12rem;
}
