.toast {
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}

.toastEnter {
  animation: fadeIn 0.3s ease-out;
}

.toastExit {
  animation: fadeOut 0.3s ease-in;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
