.root {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-20);
  width: 40%;
}

/* Overstyr Aksel Table-styling */
.detaljer :global(.aksel-table__body .aksel-table__row) {
  border-bottom: 2px solid var(--ax-neutral-100) !important;
}

.detaljer :global(.aksel-table__header-cell) {
  border-bottom: 2px solid var(--ax-neutral-100) !important;
}

.detaljer :global(.aksel-table__data-cell) {
  border-bottom: 2px solid var(--ax-neutral-100) !important;
}

/* For rader med lang tekst (som begrunnelse) */
.alignTop :global(.aksel-table__header-cell),
.alignTop :global(.aksel-table__data-cell) {
  vertical-align: top !important;
}

.visMerLink {
  white-space: nowrap;
  background-color: transparent;
  border: none;
  padding: 0;
}
