.root {
  display: flex;
  flex-direction: column;
  gap: var(--a-space-20);
  padding: var(--a-space-20) var(--a-space-16) var(--a-space-24) var(--a-space-16);
  border-radius: var(--a-border-radius-medium);
  background: var(--Global-White, #fff);
}

.root--tomt {
  padding: var(--a-space-16) var(--a-space-20);
  flex-direction: row;
  align-items: center;
}

.tomt-meldekort {
  flex: 1;
  padding: var(--a-spacing-6);
  background-color: var(--a-bg-subtle);
  border-radius: var(--a-border-radius-small);
  text-align: center;
  color: var(--a-text-subtle);
}

.innhold {
  display: flex;
  flex-direction: row;
  gap: var(--a-space-20);
}
