.root {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-20);
  padding: var(--ax-space-20) var(--ax-space-16) var(--ax-space-24) var(--ax-space-16);
  border-radius: var(--ax-radius-4);
  background: var(--ax-bg-default);
}

.root--tomt {
  padding: var(--ax-space-16) var(--ax-space-20);
  flex-direction: row;
  align-items: center;
}

.tomt-meldekort {
  flex: 1;
  padding: var(--ax-space-24);
  background-color: var(--ax-bg-neutral-soft);
  border-radius: var(--ax-radius-2);
  text-align: center;
  color: var(--ax-text-neutral);
}

.innhold {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-28);
}
