.aktivitetContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--a-spacing-4);
}

.aktivitet {
  display: flex;
  border-radius: 100%;
  width: var(--a-spacing-8);
  height: var(--a-spacing-8);
  align-items: center;
  justify-content: center;
  margin: 0 var(--a-spacing-1);
  position: relative;
}

/**/

:root {
  --dato-strl: 33px;
}

.dato {
  padding-right: 4px;
  padding-left: 6px;
  background-color: var(--a-bg-subtle);
}

.arbeid,
.arbeidOgUtdanning,
.arbeid.arbeidOgUtdanning {
  background-color: var(--a-blue-200);
  border-color: var(--a-blue-200);
}

.sykOgUtdanning::after,
.fravaerOgUtdanning::after,
.arbeidOgUtdanning::after {
  content: "";
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--a-purple-200);
  border: 1px solid var(--a-purple-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.sykFravaerOgUtdanning::before {
  content: "";
  position: absolute;
  left: -12.5%;
  top: -12.5%;
  background-color: var(--a-purple-200);
  border: 1px solid var(--a-purple-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.utdanning {
  background-color: var(--a-purple-200);
  border-color: var(--a-purple-200);
}

.ferie,
.fravaer {
  background-color: var(--a-green-200);
  border-color: var(--a-green-200);
}

.sykdom,
.sykOgFravaer {
  background-color: var(--a-orange-200);
  border-color: var(--a-orange-200);
}

.sykOgFravaer::after {
  content: "";
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--a-green-200);
  border-color: var(--a-green-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .dato {
    width: calc(var(--dato-strl) * 2);
    height: calc(var(--dato-strl) * 2);
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-size-large);
  }
}
