.aktiviteter {
  display: flex;
  margin: 0;
  padding: 0;
}

.aktivitet {
  display: flex;
  border-radius: 100%;
  width: var(--a-spacing-8);
  height: var(--a-spacing-8);
  align-items: center;
  justify-content: center;
  margin: 0 var(--a-spacing-1);
}

.arbeid {
  background-color: var(--a-blue-200);
}

.syk {
  background-color: var(--a-orange-200);
}

.fravaer {
  background-color: var(--a-green-200);
}

.utdanning {
  background-color: var(--a-purple-200);
}
