.korrigeringsGrid {
  display: grid;
  grid-template-columns: auto 3fr auto 0.2fr 1fr;
  grid-template-rows: 1fr auto;
  width: 100%;
  gap: var(--a-spacing-6);
}

.uker {
  display: grid;
}

.uke-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--a-spacing-12);
}

.aktiviteter {
  height: 256px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  white-space: nowrap;
}

.arbeid {
  grid-row: 1/2;
}

.syk {
  grid-row: 3 / 4;
}

.fravaer {
  grid-row: 4 / 5;
}

.utdanning {
  grid-row: 5 / 6;
}

.arbeid,
.syk,
.fravaer,
.utdanning {
  width: 100%;
  border-radius: var(--a-border-radius-full);
  display: flex;
  align-self: center;
  padding: var(--a-spacing-2) var(--a-spacing-6);
  font-size: var(--a-font-size-medium);
}

.checkbox {
  align-self: start;
}

.oppsummering-container {
  height: 256px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: space-between;
  white-space: nowrap;
  padding: 16px 0;
}

.oppsummering-container div {
  padding: var(--a-spacing-1) 0;
}

.knapper {
  grid-column: 1 / 6;
  grid-row: 2;
  display: flex;
  gap: var(--a-spacing-6);
  justify-content: right;
}

.uke {
  width: 100%;
  border-collapse: collapse;
}

.uke th,
.uke td {
  padding: var(--a-spacing-2);
  text-align: center;
  justify-items: center;
  min-width: 60px;
  max-width: 70px;
    font-size: var(--a-font-size-medium);
}

.korrigering-uke h3 {
  padding-left: var(--a-spacing-2);
}

.begrunnelse {
  grid-column: 5 / 6;
  min-width: 180px;
}

@media (max-width: 1980px) {
  .uke-container {
    max-width: 945px;
    overflow-x: scroll;
  }

  .aktiviteter {
    padding-top: 0;
    padding-bottom: 30px;
    height: 256px;
  }

  .oppsummering-container {
    padding: 0;
  }

  .oppsummering-container div:last-child {
    padding-bottom: var(--a-spacing-8);
  }
}
