.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100%;
  gap: var(--a-spacing-6);
  grid-template-areas: "";
}

.aktiviteter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aktiviteter > * {
  border-radius: 20px;
  padding: var(--a-spacing-1) var(--a-spacing-8);
}
