.korrigeringsGrid {
  display: grid;
  grid-template-columns: auto 3fr auto 0.2fr 1fr;
  grid-template-rows: 1fr auto;
  width: 100%;
  gap: var(--a-spacing-6);
}

.uker {
  display: grid;
}

.uke-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--a-spacing-6);
}

.aktiviteter {
  padding-top: var(--a-spacing-20); /* TODO: Gjøre dette på en annen måte */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.arbeid {
  grid-row: 1/2;
}

.syk {
  grid-row: 3 / 4;
}

.fravaer {
  grid-row: 4 / 5;
}

.utdanning {
  grid-row: 5 / 6;
}

.arbeid,
.syk,
.fravaer,
.utdanning {
  width: 100%;
  border-radius: var(--a-border-radius-full);
  display: flex;
  align-self: center;
  padding: var(--a-spacing-2) var(--a-spacing-6);
  font-size: var(--a-font-size-medium);
}

.checkbox {
  align-self: start;
}

.oppsummering-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: var(--a-spacing-20); /* TODO: Gjøre dette på en annen måte */
}

.oppsummering-container div {
  padding: var(--a-spacing-4) 0;
}

.knapper {
  grid-column: 5 / 6;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  gap: var(--a-spacing-4);
}

.uke {
  width: 100%;
  border-collapse: collapse;
}

.uke th,
.uke td {
  padding: var(--a-spacing-2);
  text-align: center;
  justify-items: center;
  min-width: 60px;
  max-width: 70px;
}

.korrigering-uke h3 {
  padding-left: var(--a-spacing-2);
}

.begrunnelse {
  grid-column: 5 / 6;
}
