.korrigering {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.rad {
  gap: 48px;
  display: flex;
  flex-direction: row;
}

.skjema {
  flex: 3;
}

.begrunnelse {
  flex: 1;
  max-width: 50%;
}

.knapper {
  gap: 12px;
  align-self: flex-end;
}

