html,
body {
  height: 100%;
  max-height: 100vh;
  margin: 0;
}

main {
  padding: var(--a-spacing-6);
}

.neutralTag .navds-tag--neutral {
  background-color: transparent;
  border-color: transparent;
}
