html,
body {
  height: 100%;
  max-height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  max-height: calc(100vh - 3rem);
}

html {
  background-color: var(--a-surface-subtle);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/**/

.aktiviteter {
  display: flex;
  margin: 0;
  padding: 0;
}

.aktivitet {
  display: flex;
  border-radius: 100%;
  width: var(--a-spacing-8);
  height: var(--a-spacing-8);
  align-items: center;
  justify-content: center;
  margin: 0 var(--a-spacing-1);
}

.arbeid {
  background-color: var(--a-blue-200);
}

.syk {
  background-color: var(--a-orange-200);
}

.fravaer {
  background-color: var(--a-green-200);
}

.utdanning {
  background-color: var(
    --a-purple-200
  ); /* samme farge som er brukt i dp-rapportering-frontend, men feil i forhold til skissene */
}

/* Overskriver Aksel */
.neutralTag .navds-tag--neutral {
  background-color: transparent;
  border-color: transparent;
}
.navds-table__row--selected {
  background-color: transparent !important;
}

.arbeidInput.navds-form-field {
  min-width: 50px;
  max-width: 75px;
  justify-self: center;
}

.korrigering-tekstfelt textarea.navds-textarea__input {
  height: 80%;
  margin-top: var(--a-spacing-6);
}

.korrigering-tekstfelt.navds-form-field {
  display: block;
  height: 100%;
}

.styledArbeidInput .navds-text-field__input {
  background-color: var(--a-blue-200);
}
