.personlinjeContainer {
  display: flex;
  align-items: center;
  padding: var(--ax-space-12) var(--ax-space-24);
  background-color: var(--ax-bg-default);
  box-shadow: var(--ax-shadow-dialog);
  position: sticky;
  top: 4rem;
  z-index: 1000;
}

.sensitiv {
  color: var(--ax-neutral-500);
  font-size: 1.2em;
  letter-spacing: 0.1em;
  user-select: none;
  font-weight: 400;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.personlinje {
  display: flex;
  gap: var(--ax-space-24);
  align-items: center;
}

.historikkKnapp {
  margin-left: auto;
}

.infoElement {
  display: flex;
  align-items: center;
  gap: var(--ax-space-8);
  white-space: nowrap;
}

.navnContainer {
  display: flex;
  align-items: center;
  gap: var(--ax-space-8);
}

.iconContainer {
  border-radius: var(--ax-border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}

.iconContainerMann {
  background-color: var(--ax-bg-accent-strong);
}

.iconContainerKvinne {
  background-color: var(--ax-danger-400);
}
