.modal {
  width: 100%;
  max-width: 900px;
}

.modal-content {
  display: flex;
  padding: 0.5rem 1rem 1rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ax-space-32);
  align-self: stretch;
  min-height: 200px;
}

.year-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
  min-width: 336px;
}

.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}

.list-title::before,
.list-title::after {
  content: "";
  flex: 1;
  border-top: 2px dashed var(--ax-border-neutral-subtle);
}
