.container {
  container-type: inline-size;
}

.perioder {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-18);
}

@container (min-width: 1080px) {
  .perioder {
    width: 1086px;
    margin-inline: auto;
  }
  /* .perioder {
    flex-direction: row;
    gap: var(--a-spacing-12);
  } */
}
