.container {
  container-type: inline-size;
  padding-right: var(--a-spacing-6);
  position: relative;
}


.perioder {
  display: flex;
  flex-direction: column;
}

@container (min-width: 1080px) {
  .perioder {
    width: 1086px;
    margin-inline: auto;
  }
  /* .perioder {
    flex-direction: row;
    gap: var(--a-spacing-12);
  } */
}
