.container {
  container-type: inline-size;
}

.perioder {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: var(--a-spacing-6);
}

@container (min-width: 1080px) {
  .perioder {
    flex-direction: row;
    gap: var(--a-spacing-12);
  }
}
