:root {
  --dato-strl: 33px;
}

.aktivitetContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--a-spacing-8);
}

.aktivitet {
  display: flex;
  border-radius: 50%;
  width: var(--a-spacing-8);
  height: var(--a-spacing-8);
  align-items: center;
  justify-content: center;
  margin: 0 var(--a-spacing-1);
  position: relative;
  z-index: 2;
}

.timer {
  position: absolute;
  top: calc(var(--dato-strl) * 1.5);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  border-radius: 0 0 5px 5px;
  padding-top: calc(var(--dato-strl) * 0.6);
  justify-content: center;
  align-items: center;
  background-color: var(--a-surface-selected);
  width: calc(var(--dato-strl) - 1px);
  height: calc(calc(var(--dato-strl) * 1.15));
  font-size: var(--a-font-size-small);
  color: var(--a-text-subtle);
  z-index: 1;
}

/**/

.dag {
  padding: 0;
}

.dato {
  padding-right: 4px;
  padding-left: 6px;
  background-color: var(--a-bg-subtle);
  width: calc(var(--dato-strl) * 2);
  height: calc(var(--dato-strl) * 2);
  font-size: var(--a-font-size-large);
  line-height: var(--a-font-size-large);
}

.arbeid,
.arbeidOgUtdanning,
.arbeid.arbeidOgUtdanning {
  background-color: var(--a-blue-200);
}

.sykOgUtdanning::after,
.fravaerOgUtdanning::after,
.arbeidOgUtdanning::after {
  content: "";
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--a-purple-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.sykFravaerOgUtdanning::before {
  content: "";
  position: absolute;
  left: -12.5%;
  top: -12.5%;
  background-color: var(--a-purple-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.utdanning {
  background-color: var(--a-purple-200);
}

.ferie,
.fravaer {
  background-color: var(--a-green-200);
}

.sykdom,
.sykOgFravaer {
  background-color: var(--a-orange-200);
}

.sykOgFravaer::after {
  content: "";
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--a-green-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

@container (max-width: 530px) {
  .aktivitetContainer {
    margin-bottom: var(--a-spacing-6);
  }

  .dato {
    width: clamp(30px, 5vw, var(--dato-strl));
    height: clamp(30px, 5vw, var(--dato-strl));
    font-size: clamp(12px, 2vw, var(--a-font-size-small));
    line-height: clamp(12px, 2vw, var(--a-font-size-small));
  }
}
