/* Variant C - stacked with visible week labels */
.kalender-tabell-c {
  border-collapse: separate;
  border-spacing: 8px 0.75rem;
  width: 100%;
}

.kalender-tabell-c th {
  font-weight: var(--a-font-weight-light);
  font-size: var(--a-font-size-small);
  text-align: center;
  white-space: nowrap;
}

.mellomrom {
  height: var(--a-space-12);
  padding: 0;
}

.uke-label {
  vertical-align: middle;
  font-weight: var(--a-font-weight-semibold);
  font-size: var(--a-font-size-small);
  text-align: left;
  padding-right: var(--a-space-4);
}

.uke-header {
  font-weight: var(--a-font-weight-semibold);
  font-size: var(--a-font-size-small);
  text-align: left;
  padding-right: var(--a-space-4);
  vertical-align: bottom;
}
