
.kalender-tabell {
  width: 100%;
  border-collapse: collapse;
}

.kalender-tabell th {
  font-weight: var(--a-font-weight-light);
  font-size: var(--a-font-size-small);
  text-align: center;
  white-space: nowrap;
}

.mellomrom {
  height: var(--a-spacing-6);
  padding: 0;
}