.rapporteringsperiode {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.75fr;
  width: 100%;
  height: 100%;
  gap: var(--a-spacing-6);
}

.uendret-periode {
  grid-column: 1 / 2;
  background-color: var(--a-white);
  margin-left: var(--a-spacing-6);
}

.endret-periode {
  grid-column: 2 / 3;
  background-color: var(--a-white);
  margin-right: var(--a-spacing-6);
}

.korrigering {
  grid-column: 1 / 3;
  background-color: var(--a-white);
  margin: 0 var(--a-spacing-6) var(--a-spacing-6) var(--a-spacing-6);
}

.uendret-periode,
.endret-periode,
.korrigering {
  padding: var(--a-spacing-6);
}
