.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--a-surface-subtle);
}

.rapporteringsperiodeListe {
  background-color: var(--a-surface-default);
  margin-bottom: var(--a-spacing-6);
}

.forhandsvisning {
  background-color: var(--a-surface-default);
  margin-left: var(--a-spacing-6);
}

.detaljer {
  background-color: var(--a-surface-default);
  margin-right: var(--a-spacing-6);
}

.forhandsvisning,
.detaljer {
  padding: var(--a-spacing-4);
  padding-bottom: var(--a-spacing-10);
  margin-bottom: var(--a-spacing-6);
}

.hidden {
  display: none;
}
