.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--a-spacing-6);
  background-color: var(--a-surface-subtle);
}

.meldekortListe {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: var(--a-surface-default);
}

.visning {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: var(--a-surface-default);
  margin-left: var(--a-spacing-6);
}

.detaljer {
  background-color: var(--a-surface-default);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-right: var(--a-spacing-6);
}

.visning,
.detaljer {
  border-radius: var(--a-border-radius-medium);
  padding: var(--a-spacing-4);
}
