/* === Wrapper for hele tabellen === */
.periodeListe {
  overflow-y: auto;
  height: 100%;
}

/* === Sticky header === */
.periodeListe__header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--a-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.periodeListe__header--first {
  text-align: center;
}

/* === Rad i tabellen === */
.periodeListe__row--selected {
  background-color: var(--a-lightblue-100);
}

/* === Kolonne for uke med venstre kant === */
.periodeListe__week {
  border-left: 5px solid transparent;
}

.periodeListe__week--selected {
  border-left-color: var(--a-blue-300);
}

/* === Checkbox-sentrering === */
.periodeListe__checkbox {
  margin: auto;
}

/* === Fjerne border på siste rad === */
.periodeListe__row:last-child td {
  border-bottom-color: transparent;
}
