name: Deploy branch

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - demo

jobs:
  build-test:
    uses: ./.github/workflows/build-test.yaml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
      push_image: true
      build_args: ${{ inputs.environment == 'demo' && 'RUNTIME_ENVIRONMENT=demo' || '' }}
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  deploy:
    needs: [build-test]
    if: |
      always() &&
      needs.build.result == 'success' && 
      (needs.cdn-upload.result == 'success' || needs.cdn-upload.result == 'skipped')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ needs.build.outputs.image }},githubSha=${{ github.sha }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.yaml
          VARS: .nais/vars-${{ inputs.environment }}.yaml
          PRINT_PAYLOAD: true
