.tabell {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.tabell tr {
  border: solid;
  border-width: 3px 0;
  border-color: var(--a-surface-subtle);
  padding: var(--a-spacing-2);
}

.tabell td {
  padding: var(--a-spacing-4);
}
