.periodeDetaljer {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-6);
}

.detailList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--a-font-size-medium);
  list-style: none;
  padding: 0;
  margin: 0;
}

.detailList li {
  display: contents;
}

.detailTerm,
.detailValue {
  padding: var(--a-spacing-4) 0;
  border-bottom: 3px solid var(--a-gray-50);
}

.detailList li:last-child .detailTerm,
.detailList li:last-child .detailValue {
  border-bottom: none;
}