
.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--a-spacing-6);
}

.detaljer {
  border-collapse: collapse;
  font-size: var(--a-font-size-small);
}

.detailItem {
  border-bottom: 2px solid var(--a-gray-50);
}

.label {
  font-weight: var(--a-font-weight-regular);
  text-align: left;
  vertical-align: top;
  padding-right: var(--a-spacing-2);
  width: 55%;
}

.value {
  text-align: left;
  vertical-align: center;
}
